extends header 

block content

    include header 
    br
    br
    div.container
    .container.py-5.h-100
      m.row.d-flex.justify-content-center.align-items-center.h-100
       .col-8
        .card(style="border-radius: 15px;")
          .card-body.p-4
            .d-flex.text-black
              .flex-shrink-0
                img.rounded-circle(
                  style="width: 180px; border-radius: 10px;" 
                  alt="Generic placeholder image" 
                  src=result.avatar_url
                  )
              .flex-grow-12.ms-12
               .col-12
                  h5.mb-1 #{result.login}
                  div
                     i.material-icons.inline-icon format_list_bulleted
                     span   #{result.bio}
                  div
                     i.material-icons.inline-icon verified_user
                     span   #{result.login}
                  div 
                     i.material-icons.inline-icon place
                     span   #{result.location} 
                  br
                  div
                     a(href="#")
                         i.material-icons.inline-icon people 
                         span  #{result.followers} Followers 
                     a(href="#") 
                         i.material-icons.inline-icon person_add 
                         span  #{result.following} Following 
                  div
                     a(href='/viewRepos?id='+result.login)
                         i.material-icons.inline-icon source 
                         span  #{result.public_repos} Repositories            
                                

      p.footer Copyright © 2023 My GitHub Analyser
