extends header 

block content

    include header 
    br
    br
    div.container
        div.row
            div.col
                h1=result.login 
                h5=result.login
                main.markdown-body
                img.avatar(class="img-thumbnail", src=result.avatar_url, alt="Avatar", width="200", height="200")
            div.col-6
                div.spacer
                div
                    i.material-icons.inline-icon format_list_bulleted
                    span=   result.bio
                div 
                    i.material-icons.inline-icon pin_drop
                    span=   result.location 
                br
                div

                    a(href="#")
                        i.material-icons.inline-icon people 
                        span   #{result.followers} Followers 
                    a(href="#") 
                        i.material-icons.inline-icon person_add 
                        span   #{result.following} Following 
                br
                p
                    a(href='/viewRepos?id='+result.login) #{result.public_repos} Repositories 

            div.col


    p.footer Copyright © 2023 My GitHub Analyser
